<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudx.server.system.mapper.LoginLogMapper">

  <select id="countTotalVisit" resultType="long">
    select count(*)
    from t_login_log
  </select>

  <select id="countTodayVisit" resultType="long">
    select count(*)
    from t_login_log
    where t_login_log.login_time between curdate() and date_add(current_date(), interval 1 day)
  </select>

  <select id="countTodayIp" resultType="long">
    select count(distinct (ip))
    from t_login_log
    where login_time between curdate() and date_add(curdate(), interval 1 day)
  </select>

  <select id="selectLastTenDaysVisitCount" resultType="map" parameterType="string">
    select
    date_format(l.login_time, '%m-%d') days,
    count(1) count
    from
    (select username, login_time from t_login_log where
    date_sub(curdate(), interval 10 day) &lt;= date(login_time)) as
    l where 1 = 1
    <if test="username != null and username != ''">
      and l.username = #{username}
    </if>
    group by
    days
  </select>


</mapper>