<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudx.server.system.mapper.RoleMapper">

  <select id="pageRoles" parameterType="com.cloudx.common.core.entity.system.Role"
    resultType="com.cloudx.common.core.entity.system.Role">
    SELECT
    r.role_id roleId,
    r.role_name roleName,
    r.remark,
    r.create_time createTime,
    r.update_time updateTime,
    GROUP_CONCAT( rm.menu_id ) menuIds
    FROM
    t_role r
    LEFT JOIN t_role_menu rm ON ( r.role_id = rm.role_id )
    WHERE 1 = 1
    <if test="role.roleName != null and role.roleName != ''">
      AND r.role_name like CONCAT('%',#{role.roleName},'%')
    </if>
    GROUP BY
    r.role_id
  </select>

</mapper>