# system
.DS_Store

# project
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.txlcn/

# idea
.idea
*.iws
*.iml
*.ipr

# plugins
**/gen
log/
**/**/resources/rebel.xml
spy.log