<!DOCTYPE html>
<html lang="ch"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="icon" th:href="@{resource/favicon.ico}" type="image/x-icon"/>
    <title>第三方登录失败</title>
</head>
<style>
    span{font-size:.9rem;font-weight:bold;color:#42b983}
</style>
<body>
<span>[[${error}]]</span>
</body>
</html>