<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudx.auth.mapper.UserMapper">

  <sql id="baseSql">
    SELECT u.user_id,
           u.username,
           u.email,
           u.mobile,
           u.password,
           u.status,
           u.create_time,
           u.ssex as                 sex,
           u.last_login_time,
           u.update_time,
           u.description,
           u.avatar,
           u.dept_id,
           d.dept_name,
           GROUP_CONCAT(r.role_id)   roleId,
           GROUP_CONCAT(r.role_name) roleName
    FROM t_user u
           LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
           LEFT JOIN t_role r ON (r.role_id = ur.role_id)
           LEFT JOIN t_dept d ON (u.dept_id = d.dept_id)
    WHERE 1 = 1
  </sql>

  <select id="selectByName"
    parameterType="string"
    resultType="com.cloudx.common.core.entity.system.SystemUser">
    <include refid="baseSql"/>
    and u.username = #{username,jdbcType=VARCHAR}
    GROUP BY u.username,u.user_id,u.email,u.mobile,u.status,u.create_time,u.ssex,
    u.dept_id,u.last_login_time,u.update_time,u.description,u.avatar
  </select>

  <select id="selectUserDataPermissions" parameterType="long"
    resultType="com.cloudx.common.core.entity.system.UserDataPermission">
    select user_id userId, dept_id deptId
    from t_user_data_permission
    where user_id = #{userId}
  </select>

</mapper>